<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<form action="#" th:action = "@{/user-update}" th:object = "${user}" method = "post">
    <label for="id">ID</label>
    <input readonly type = "text" th:field = "*{id}" id="id" placeholder="ID">
    <br/>
    <label for="firstName">firstName:</label>
    <input type = "text" th:field = "*{firstName}" id="firstName" placeholder="First Name">
    <br/>
    <label for="lastName">lastName</label>
    <input type = "text" th:field = "*{lastName}" id="lastName" placeholder="Last Name">
    <br/>
    <label for="address">address</label>
    <input type = "text" th:field = "*{address}" id="address" placeholder="Address">
    <br/>
    <div id="phoneEntries" th:each="phone, iterStat : *{phoneEntries}">
        <label th:for="${'phoneNumber-' + iterStat.index}">Phone number:</label>
        <input type="number" th:field="*{phoneEntries[__${iterStat.index}__][0]}" th:id="${'phoneNumber-' + iterStat.index}" placeholder="Phone:">

        <label th:for="${'phoneComment-' + iterStat.index}">Phone Comment:</label>
        <input type="text" th:field="*{phoneEntries[__${iterStat.index}__][1]}" th:id="${'phoneComment-' + iterStat.index}" placeholder="Phone Comment">
        <br/>
    </div>
    <input type="submit" value="Update User">
    <button type="button" id="add-additional-number" onclick="addAdditionalNumber()">Add additional number</button>
</form>
<script>
    let phoneCount = document.querySelectorAll('#phoneEntries').length;

    function addAdditionalNumber() {
        let html = '';
        html += '<div id="phoneEntries">';
        html += '<label for="phoneNumber'+phoneCount+'">Phone number:</label>';
        html += '<input type="number" id="phoneNumber'+phoneCount+'" name="phoneEntries['+phoneCount+'][0]" placeholder="Phone:">';
        html += '<label for="phoneComment'+phoneCount+'">Phone Comment:</label>';
        html += '<input type="text" id="phoneComment'+phoneCount+'" name="phoneEntries['+phoneCount+'][1]" placeholder="Phone Comment">';
        html += '<br></div>';
        $("#phoneEntries").append(html);
        phoneCount++;
    }
</script>
</body>
</html>